.custom-card {
    width: 100%;
    margin-bottom: 20px;
}

.custom-card img {
    width: 100%;
    height: auto;
}

.custom-card ion-card-header {
    background-color: #f8f8f8;
}

.custom-card ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.custom-card ion-card-content {
    font-size: 1em;
}